footer.l-footer
  .l-footer__inner.l-container
    .l-footer__nav-unit.-item
      span.l-footer__heading
        img(src='/assets/img/img_footer_item.png' width='34' height='55' loading='lazy')
        | アイテム
      nav.l-footer__nav
        ul.l-footer__nav__list.-item
          li.l-footer__nav__item
            a(href='')
              svg.icon(role='img' width='11' height='11')
                use(xlink:href='/assets/svg/sprite.svg#icon_arrow')
              | オーダースーツ
          li.l-footer__nav__item
            a(href='')
              svg.icon(role='img' width='11' height='11')
                use(xlink:href='/assets/svg/sprite.svg#icon_arrow')
              | オーダーシャツ
          li.l-footer__nav__item.-col-one
            a(href='')
              svg.icon(role='img' width='11' height='11')
                use(xlink:href='/assets/svg/sprite.svg#icon_arrow')
              | オーダージャケット・パンツ単品
          li.l-footer__nav__item.-col-one
            a(href='')
              svg.icon(role='img' width='11' height='11')
                use(xlink:href='/assets/svg/sprite.svg#icon_arrow')
              | セレモニーフォーマル
          li.l-footer__nav__item
            a(href='')
              svg.icon(role='img' width='11' height='11')
                use(xlink:href='/assets/svg/sprite.svg#icon_arrow')
              | オーダージーンズ
          li.l-footer__nav__item
            a(href='')
              svg.icon(role='img' width='11' height='11')
                use(xlink:href='/assets/svg/sprite.svg#icon_arrow')
              | スーツ洋品
    .l-footer__nav-unit.-obsession
      span.l-footer__heading
        img(src='/assets/img/img_footer_obsession.png' width='34' height='57' loading='lazy')
        | こだわり
      nav.l-footer__nav
        ul.l-footer__nav__list.-obsession
          li.l-footer__nav__item.-col-one
            a(href='')
              svg.icon(role='img' width='11' height='11')
                use(xlink:href='/assets/svg/sprite.svg#icon_arrow')
              | 麻布テーラーのオーダーについて生地
          li.l-footer__nav__item
            a(href='')
              svg.icon(role='img' width='11' height='11')
                use(xlink:href='/assets/svg/sprite.svg#icon_arrow')
              | 生地
          li.l-footer__nav__item
            a(href='')
              svg.icon(role='img' width='11' height='11')
                use(xlink:href='/assets/svg/sprite.svg#icon_arrow')
              | 国内縫製工場
    .l-footer__nav-unit.-contents
      span.l-footer__heading
        img(src='/assets/img/img_footer_contents.png' width='34' height='55' loading='lazy')
        | コンテンツ
      nav.l-footer__nav
        ul.l-footer__nav__list.-contents
          li.l-footer__nav__item
            a(href='')
              svg.icon(role='img' width='11' height='11')
                use(xlink:href='/assets/svg/sprite.svg#icon_arrow')
              | スタッフブログ
          li.l-footer__nav__item
            a(href='')
              svg.icon(role='img' width='11' height='11')
                use(xlink:href='/assets/svg/sprite.svg#icon_arrow')
              | スタッフスナップ
          li.l-footer__nav__item
            a(href='')
              svg.icon(role='img' width='11' height='11')
                use(xlink:href='/assets/svg/sprite.svg#icon_arrow')
              | マナーコンテンツ
          li.l-footer__nav__item
            a(href='')
              svg.icon(role='img' width='11' height='11')
                use(xlink:href='/assets/svg/sprite.svg#icon_arrow')
              | カタログ
          li.l-footer__nav__item
            a(href='')
              svg.icon(role='img' width='11' height='11')
                use(xlink:href='/assets/svg/sprite.svg#icon_arrow')
              | お知らせ
    .l-footer__nav-unit.-guide
      span.l-footer__heading
        img(src='/assets/img/img_footer_guide.png' width='34' height='58' loading='lazy')
        | ガイド
      nav.l-footer__nav
        ul.l-footer__nav__list.-guide
          li.l-footer__nav__item
            a(href='')
              svg.icon(role='img' width='11' height='11')
                use(xlink:href='/assets/svg/sprite.svg#icon_arrow')
              | よくある質問
          li.l-footer__nav__item
            a(href='')
              svg.icon(role='img' width='11' height='11')
                use(xlink:href='/assets/svg/sprite.svg#icon_arrow')
              | よくある質問
    .l-footer__nav-unit.-outline
      nav.l-footer__nav
        ul.l-footer__nav__list.-guide
          li.l-footer__nav__item.-outline
            a(href='') 会社概要
          li.l-footer__nav__item.-outline
            a(href='') プライバシーポリシー
          li.l-footer__nav__item.-outline
            a(href='') サイトについて
          li.l-footer__nav__item.-outline.-nowrap
            a(href='') 資金決済法第13条に基づく表示
          li.l-footer__nav__item.-outline
            a(href='') サイトマップ
    .l-footer__banner
      figure.l-footer__image
        img(src='https://placehold.jp/335x100.jpg' alt='' width='335' height='100' loading='lazy')
      figure.l-footer__image
        img(src='https://placehold.jp/335x100.jpg' alt='' width='335' height='100' loading='lazy')
    .l-footer__copy
      img(src='https://placehold.jp/183x17.jpg' alt='' width='183' height='17' loading='lazy')
      small © Azabu tailor All Rights Reserved.
  #js-toTop.l-footer__top
