//- ブログカードコンポーネント
a.p-blog-card(href="#")
  figure.p-blog-card__img
    img(src="https://placehold.jp/155x155.jpg" alt="")
  .p-blog-card__inner
    span.p-blog-card__location 店舗名が入ります。
    p.p-blog-card__title フェアシャツができました
    span.p-blog-card__date
      time(date-time="2022.08.16") 2022.08.16

