@use "../setting" as *;

.l-header__announce-bar {
  height: 25px;
  font-size: 1.3rem;
  line-height: 25px;
  color: $colorWhite;
  text-align: center;
  background-color: #707070;
}

.l-header__inner {
  padding: 16px 0;
  margin-right: 20px;
  margin-left: 10px;
}

.l-header__list {
  display: flex;
  align-items: center;
}

.l-header__item {
  &.-shop-link {
    width: 100px;
    margin-left: 20px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 100px;
      height: 25px;
      line-height: 25px;
      border: 1px solid #efebe7;
      border-radius: 4px;
    }
  }
}

.l-header__logo {
  width: 180px;
}

.l-header__bag-icon {
  margin-right: 5px;
}

.l-header__btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 15px;
  margin-left: 25px;

  span {
    transition: 0.4s;
  }

  span,
  &::before,
  &::after {
    display: block;
    width: 100%;
    height: 1px;
    background-color: $colorGrayBase;
  }

  &::before,
  &::after {
    content: "";
    transition: 0.4s;
  }

  &.is-open {
    span {
      opacity: 0;
    }

    &::before {
      transform: rotate(30deg);
      transform-origin: top left;
    }

    &::after {
      transform: rotate(-30deg);
      transform-origin: bottom left;
    }
  }
}
